body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .header {
    background-color: #2E312F;
    color: #fff;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.2em;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
  }
  
  .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Subtract the header height from the viewport height */
    overflow: hidden; /* Hide potential scrollbars */
  }
  
  .map-container iframe {
    width: 80%;
    height: 80%;
  }
  